body {
    background-color: #f8f9fa;
}
.container {
    margin-top: 50px;
    max-width: 20%; /* Set a maximum width for the container */
}
.form-section {
    padding: 30px;
    background-color: #898484;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}
.form-group {
    margin-bottom: 1.5rem;
}
.btn-submit {
    margin-top: 20px;
}